<div class="col-8">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of plantas">
        <td>
          <dd>
            <b>{{ planta.id }}</b>
          </dd>
        </td>
        <td>
          <dd>{{ planta.nombre_comun }}</dd>
        </td>
        <td>
          <dd>{{ planta.tipo }}</dd>
        </td>
        <td>
          <dd>{{ planta.clima }}</dd>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Total plantas interior: {{countPlantasInterior}}</p>
  <p>Total plantas exterior: {{countPlantasExterior}}</p>
</div>
